/** styles.css */

.smoothImage {
  transition: opacity 1s;
}
.imageVisible {
  opacity: 1;
}
.imageHidden {
  opacity: 0;
}

.imageGrid {
  display: grid;

  img {
    max-width: 20rem;
    margin: .5rem;
  }
}