.Header {
  display: flex;
  justify-content: space-between;

  h1 {
    text-decoration: none;
    margin-top: -.15rem;
    cursor: pointer;

  }
  
  h1:hover {
    color: hotpink;
  }

  input {
    width: 15rem;
    height: 2rem;
    margin-top: -.25rem;

  }
}